The Objective of this code is to clean the data and find the difference value if there.

# Import Library

In [1]:
import pandas as pd
import numpy as np

# Import Data

In [2]:
#OurData
dfOur = pd.read_csv("..")

#UserData
dfUser = pd.read_excel("..")

#Billing Number Initial FENNY data/Paseo Lady
dfFenny = pd.read_excel("Tissue Direct 2008-2019.xlsx")

# Data Engineering

## Our Data Engineering

### 1. Take out billing number of dfFenny in ourData

In [3]:
#Before we do filtering, we have take out all of Billing number of dfFenny

#Change data type of Billing number of dfOur to object
dfOur['Billing number'] = dfOur['Billing number'].astype(str)

#First beforeTake out billing number which there are in dfFenny 
dfOur2 = dfOur.merge(dfFenny, indicator='i', how='outer').query('i == "left_only"').drop('i', 1)
#dfOur2 = dfOur.loc[pd.merge(dfOur, dfFenny, on=['Billing number'], how='left', indicator=True)['_merge'] == 'left_only']

In [4]:
#Paseo Lady Test
dfOur2[dfOur2['Sales document'] == 1852090689]

Empty DataFrame
Columns: [KEY_SR, Act.goods issue date, Billing item, Sales document, Sales document item, Billing number, Cancelled, Sales organization, Brand ID, Brand (Group), Order Type, GSM, Material ID, Manufacturing Mill, Mill, Material Classification, Matl Group, Material Division, Req. Delivery Dt/ESD, Ship to Party, Country (Ship To), Sold to Party, Country (Sold To), Local Area (Sold To), Calendar day, Inv. Weight (MT), Inv Sell Val Doc Cur, Disc. Amount(Doc. Curr.), CURRENCY001 Inv. Weight (MT), UNIT001 Inv. Weight (MT), CURRENCY002 Inv Sell Val Doc Cur, UNIT002 Inv Sell Val Doc Cur, Brand ID TEXT, Order Type TEXT, Material ID TEXT, Manufacturing Mill TEXT, Mill TEXT, Matl Class TEXT, Matl Group TEXT, Matl Division TEXT, Sales organization TEXT, Ship to Party TEXT, Country (Ship To) TEXT, Sold to Party TEXT, Country (Sold To) TEXT, Inv. Weight
(MT), Inv Sell Val.
(Doc Curr), Disc. Amount
(Doc. Curr.)]
Index: []

[0 rows x 48 columns]

### 2. Take out all the cancelled and minus value

In [5]:
dfOur2['Cancelled'] = dfOur2['Cancelled'].fillna("No")
dfOur2 = dfOur2[dfOur2['Cancelled'] == 'No']
dfOur2 = dfOur2[dfOur2['Inv. Weight (MT)'] > 0]

In [6]:
dfOur2 = dfOur2[dfOur2['Act.goods issue date'] != '00000000']

### 3. Take features dfOur which has same definiton with dfUser

In [7]:
#One of the steps to compare our data and user data is Value (IDR), so we need add new Value (IDR) column, beacuse we haven't
#before
dfOur2['Value (IDR)']=dfOur2['Inv Sell Val Doc Cur']-dfOur2['Disc. Amount(Doc. Curr.)']

In [8]:
#Take features that we need
dfOur2 = dfOur2[['Act.goods issue date','Material ID','Req. Delivery Dt/ESD','Ship to Party','Sold to Party','Inv. Weight (MT)',
       'Sales document','Value (IDR)']]

In [9]:
#Transform Ton to Kg
dfOur2['Inv. Weight (MT)'] = dfOur2['Inv. Weight (MT)']*1000

In [10]:
#Change of each features name 
dfOur2.columns = ['GI Date', 'Material','Req. Delivery Dt/ESD','Ship To', 'Customer','NW (Kg)','SO No','Value (IDR)']

In [11]:
#Change data type of GI Date to Date
dfOur2['GI Date'] = pd.to_datetime(dfOur2['GI Date'],dayfirst=True)

In [12]:
dfOur2.head()

,GI Date,Material,Req. Delivery Dt/ESD,Ship To,Customer,NW (Kg),SO No,Value (IDR)
0,2008-01-02,69907062.0,02.01.2008,2029773.0,2027133.0,800.00,1.140008e+09,0.0
1,2008-01-02,69906182.0,02.01.2008,2029773.0,2027133.0,100.80,1.140008e+09,0.0
2,2008-01-02,69906182.0,02.01.2008,2029773.0,2027133.0,386.40,1.140008e+09,0.0
3,2008-01-02,69907381.0,02.01.2008,2029773.0,2027133.0,155.48,1.140008e+09,0.0
4,2008-01-02,69907382.0,02.01.2008,2029773.0,2027133.0,77.74,1.140008e+09,0.0

## User Data Engineering

In [13]:
dfUser.columns

Index(['Periods', 'S+R', 'Material', 'CHA', 'CHANNEL', 'RETAIL/AFH', 'STORE',
       'Customer', 'Cust Name', 'NW (Ton)', 'Value (IDR)', 'Value (USD)',
       'Ship To', 'Ship To Name', 'Qty (Karton)', 'Sales Person', 'SO No',
       'GI Date', 'RDD', 'B_ArtCode', 'B_Carton Code', 'B_Material Text',
       'B_Brand', 'B_Brand-2', 'B_Category', 'B_Category-2', 'B_Category-3',
       'B_StatusSKU', 'B_Mill', 'B_Zone', 'B_Zone-2', 'B_Zone-3', 'B_Town',
       'D_NOND', 'B_Week', 'B_Week Rdd', 'SO, Mat', 'Column1', '7.12.2018',
       '10.12.2018', '12.12.2018', '14.12.2018', '26.12.2018'],
      dtype='object')

In [14]:
#Take features that we need
dfUser2 = dfUser[['S+R','GI Date', 'Material', 'Ship To', 'Customer','NW (Ton)', 'Value (IDR)','Sales Person', 'SO No']]

In [15]:
dfUser2.head()

,S+R,GI Date,Material,Ship To,Customer,NW (Ton),Value (IDR),Sales Person,SO No
0,freegood,11.01.2018,69917620,1001551,1001551,0.035784,0.0,NaN,1029200331
1,freegood,18.01.2018,69916821,1001551,1001551,0.006400,0.0,NaN,1029200334
2,freegood,19.01.2018,69916820,1001551,1001551,0.012800,0.0,NaN,1029200335
3,freegood,23.01.2018,69916821,1001551,1001551,0.019200,0.0,NaN,1029200336
4,freegood,24.01.2018,69916582,1001551,1001551,0.012659,0.0,NaN,1029200332

In [16]:
#Transform NW (Ton) to NW (Kg)
dfUser2['NW (Ton)'] = dfUser2['NW (Ton)']*1000

C:\Users\01135710\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
#Transform NW (Ton) to NW (Kg)
dfUser2['NW (Kg)'] = dfUser2['NW (Ton)']
dfUser2 = dfUser2.drop('NW (Ton)',1)

C:\Users\01135710\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
#Change data type of GI Date to Date
dfUser2['GI Date'] = pd.to_datetime(dfUser2['GI Date'],dayfirst=True)

In [19]:
dfUser2.head()

,S+R,GI Date,Material,Ship To,Customer,Value (IDR),Sales Person,SO No,NW (Kg)
0,freegood,2018-01-11,69917620,1001551,1001551,0.0,NaN,1029200331,35.784
1,freegood,2018-01-18,69916821,1001551,1001551,0.0,NaN,1029200334,6.400
2,freegood,2018-01-19,69916820,1001551,1001551,0.0,NaN,1029200335,12.800
3,freegood,2018-01-23,69916821,1001551,1001551,0.0,NaN,1029200336,19.200
4,freegood,2018-01-24,69916582,1001551,1001551,0.0,NaN,1029200332,12.659

In [20]:
#Take out FENNY RIANY LALENO value of Sales Person
dfUser3 = dfUser2[dfUser2['Sales Person'] != 'FENNY RIANY LALENO']

In [21]:
dfUser3.head()

,S+R,GI Date,Material,Ship To,Customer,Value (IDR),Sales Person,SO No,NW (Kg)
0,freegood,2018-01-11,69917620,1001551,1001551,0.0,NaN,1029200331,35.784
1,freegood,2018-01-18,69916821,1001551,1001551,0.0,NaN,1029200334,6.400
2,freegood,2018-01-19,69916820,1001551,1001551,0.0,NaN,1029200335,12.800
3,freegood,2018-01-23,69916821,1001551,1001551,0.0,NaN,1029200336,19.200
4,freegood,2018-01-24,69916582,1001551,1001551,0.0,NaN,1029200332,12.659

# Filter Data

In [22]:
#Function filter data per day
def excludeDataDay(data,c):
    data2 = data[(data['NW (Kg)'] > 0.0) & (data['Value (IDR)'] != 0) ]  #Exclude Free Goods
    data3 = data2[data2['Customer'] != 2064741]     #Exclude Paseo Lady
    data4 = data3[data3['GI Date'] == c]
    print("Data Dimension ", data4.shape)
    print("Sum Value ", sum(data4['Value (IDR)']))
    print("Sum Weight ", sum(data4['NW (Kg)']))
    return data4

In [23]:
#Function filter Interval data
def excludeIntervalData(data,c):
    data2 = data[(data['NW (Kg)'] > 0) & (data['Value (IDR)'] != 0) ]  #Exclude Free Goods
    data3 = data2[data2['Customer'] != 2064741]     #Exclude Paseo Lady
    data4 = data3[c]
    print("Data Dimension ", data4.shape)
    print("Sum Value ", sum(data4['Value (IDR)']))
    print("Sum Weight ", sum(data4['NW (Kg)']))
    return data4

# Find Diff

### One Year Diff

In [32]:
#2018, 01 - 07 Desember Data
c = (dfOur2['GI Date']>='2018-01-01 ') & (dfOur2['GI Date'] <= '2018-12-31')
d = (dfUser3['GI Date']>='2018-01-01') & (dfUser3['GI Date'] <= '2018-12-31')

dfOur18 = excludeIntervalData(dfOur2,c)
print()
print("dfUser 2018 :")
dfUser18 = excludeIntervalData(dfUser3,d)
print()
print(sum(dfOur18['Value (IDR)']) - sum(dfUser18['Value (IDR)']))
sum(dfOur18['NW (Kg)']) - sum(dfUser18['NW (Kg)'])

C:\Users\01135710\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Data Dimension  (290094, 8)
Sum Value  3557760586653.0
Sum Weight  147862570.0940049

dfUser 2018 :
Data Dimension  (339625, 9)
Sum Value  3558380347328.0
Sum Weight  147928212.50899976

-619760675.0

-65642.41499486566

In [34]:
a = dfOur18[["Material","SO No","Value (IDR)","GI Date", "NW (Kg)"]]
b = dfUser18[["Material","SO No","Value (IDR)","GI Date","NW (Kg)"]]
a = pd.pivot_table(a, values=['Value (IDR)','NW (Kg)'], index=['Material','SO No','GI Date'], aggfunc=np.sum).reset_index()
b = pd.pivot_table(b, values=['Value (IDR)','NW (Kg)'], index=['Material','SO No','GI Date'], aggfunc=np.sum).reset_index()
#a['Value (IDR)'].aggregate(np.sum)
#b['Value (IDR)'].aggregate(np.sum)
c = pd.merge(a, b, on=['Material','SO No'], how='inner')
c['Diff_Value'] = c['Value (IDR)_y'] - c['Value (IDR)_x']
c['Diff_Weight(Kg)'] = c['NW (Kg)_y'] - c['NW (Kg)_x']

In [35]:
c.head()

,Material,SO No,GI Date_x,NW (Kg)_x,Value (IDR)_x,GI Date_y,NW (Kg)_y,Value (IDR)_y,Diff_Value,Diff_Weight(Kg)
0,69906572.0,1.852097e+09,2018-02-15,108.000,2203881.0,2018-02-15,108.000,2203881.0,0.0,0.000000e+00
1,69906584.0,1.852093e+09,2018-01-04,126.225,2612328.0,2018-01-04,126.225,2612327.0,-1.0,1.421085e-14
2,69906584.0,1.852094e+09,2018-01-08,30.294,626959.0,2018-01-08,30.294,626959.0,0.0,3.552714e-15
3,69906584.0,1.852094e+09,2018-01-08,30.294,626959.0,2018-01-13,90.882,1880876.0,1253917.0,6.058800e+01
4,69906584.0,1.852094e+09,2018-01-08,30.294,626959.0,2018-01-25,5.049,104493.0,-522466.0,-2.524500e+01

In [36]:
c.columns = ['Material','SO_No','GI_Date_x','SAP_(Kg)','SAP_(Idr)','GI_Date_y','User_(Kg)','User_(Idr)','Diff_Value','Diff_Weight']
c = c[['Material','SO_No','GI_Date_x','GI_Date_y','SAP_(Kg)','User_(Kg)','Diff_Weight','SAP_(Idr)','User_(Idr)','Diff_Value']]

In [57]:
#The difference days
c.loc[c['GI_Date_x'] != c['GI_Date_y']]

,Material,SO_No,GI_Date_x,GI_Date_y,SAP_(Kg),User_(Kg),Diff_Weight,SAP_(Idr),User_(Idr),Diff_Value
3,69906584.0,1.852094e+09,2018-01-08,2018-01-13,30.294,90.882,60.588,626959.0,1880876.0,1253917.0
4,69906584.0,1.852094e+09,2018-01-08,2018-01-25,30.294,5.049,-25.245,626959.0,104493.0,-522466.0
5,69906584.0,1.852094e+09,2018-01-13,2018-01-08,90.882,30.294,-60.588,1880876.0,626959.0,-1253917.0
7,69906584.0,1.852094e+09,2018-01-13,2018-01-25,90.882,5.049,-85.833,1880876.0,104493.0,-1776383.0
8,69906584.0,1.852094e+09,2018-01-25,2018-01-08,5.049,30.294,25.245,104493.0,626959.0,522466.0
9,69906584.0,1.852094e+09,2018-01-25,2018-01-13,5.049,90.882,85.833,104493.0,1880876.0,1776383.0
18,69906584.0,1.852101e+09,2018-03-08,2018-03-15,242.352,207.009,-35.343,5216306.0,4455595.0,-760711.0
19,69906584.0,1.852101e+09,2018-03-15,2018-03-08,207.009,242.352,35.343,4455595.0,5216307.0,760712.0
24,69906584.0,1.852105e+09,2018-04-08,2018-04-18,30.294,222.156,191.862,652038.0,4781614.0,4129576.0
25,69906584.0,1.852105e+09,2018-04-18,2018-04-08,222.156,30.294,-191.862,4781614.0,652038.0,-4129576.0
30,69906584.0,1.852106e+09,2018-04-17,2018-04-30,439.263,65.637,-373.626,9454555.0,1412749.0,-8041806.0
31,69906584.0,1.852106e+09,2018-04-30,2018-04-17,65.637,439.263,373.626,1412749.0,9454555.0,8041806.0
38,69906584.0,1.852112e+09,2018-06-21,2018-06-29,363.528,141.372,-222.156,7824459.0,3042845.0,-4781614.0
39,69906584.0,1.852112e+09,2018-06-29,2018-06-21,141.372,363.528,222.156,3042845.0,7824459.0,4781614.0
47,69906584.0,1.852123e+09,2018-09-07,2018-09-11,136.323,368.577,232.254,3374305.0,9123120.0,5748815.0
48,69906584.0,1.852123e+09,2018-09-11,2018-09-07,368.577,136.323,-232.254,9123120.0,3374305.0,-5748815.0
53,69906584.0,1.852127e+09,2018-10-08,2018-10-09,504.900,60.588,-444.312,12497425.0,1499691.0,-10997734.0
54,69906584.0,1.852127e+09,2018-10-08,2018-10-19,504.900,176.715,-328.185,12497425.0,4374099.0,-8123326.0
55,69906584.0,1.852127e+09,2018-10-09,2018-10-08,60.588,504.900,444.312,1499691.0,12497425.0,10997734.0
57,69906584.0,1.852127e+09,2018-10-09,2018-10-19,60.588,176.715,116.127,1499691.0,4374099.0,2874408.0
58,69906584.0,1.852127e+09,2018-10-19,2018-10-08,176.715,504.900,328.185,4374099.0,12497425.0,8123326.0
59,69906584.0,1.852127e+09,2018-10-19,2018-10-09,176.715,60.588,-116.127,4374099.0,1499691.0,-2874408.0
64,69906584.0,1.852134e+09,2018-12-04,2018-12-05,5.049,45.441,40.392,124974.0,1124768.0,999794.0
65,69906584.0,1.852134e+09,2018-12-05,2018-12-04,45.441,5.049,-40.392,1124768.0,124974.0,-999794.0
74,69906661.0,2.300034e+09,2018-01-12,2018-01-13,540.000,1188.000,648.000,10595575.0,23310264.0,12714689.0
75,69906661.0,2.300034e+09,2018-01-12,2018-01-15,540.000,432.000,-108.000,10595575.0,8476460.0,-2119115.0
76,69906661.0,2.300034e+09,2018-01-13,2018-01-12,1188.000,540.000,-648.000,23310264.0,10595575.0,-12714689.0
78,69906661.0,2.300034e+09,2018-01-13,2018-01-15,1188.000,432.000,-756.000,23310264.0,8476460.0,-14833804.0
79,69906661.0,2.300034e+09,2018-01-15,2018-01-12,432.000,540.000,108.000,8476460.0,10595575.0,2119115.0
80,69906661.0,2.300034e+09,2018-01-15,2018-01-13,432.000,1188.000,756.000,8476460.0,23310264.0,14833804.0
...,...,...,...,...,...,...,...,...,...,...
384062,69918236.0,1.852135e+09,2018-12-21,2018-12-24,378.350,1264.770,886.420,7629552.0,25504502.0,17874950.0
384063,69918236.0,1.852135e+09,2018-12-24,2018-12-21,1264.770,378.350,-886.420,25504502.0,7629552.0,-17874950.0
384066,69918236.0,1.852135e+09,2018-12-17,2018-12-19,1037.760,313.490,-724.270,22919862.0,6923709.0,-15996153.0
384067,69918236.0,1.852135e+09,2018-12-19,2018-12-17,313.490,1037.760,724.270,6923709.0,22919862.0,15996153.0
384071,69918236.0,1.852136e+09,2018-12-16,2018-12-17,1335.035,1859.320,524.285,25639504.0,35708458.0,10068954.0
384072,69918236.0,1.852136e+09,2018-12-17,2018-12-16,1859.320,1335.035,-524.285,35708458.0,25639504.0,-10068954.0
384075,69918236.0,1.852136e+09,2018-12-17,2018-12-18,270.250,540.500,270.250,5190183.0,10380366.0,5190183.0
384076,69918236.0,1.852136e+09,2018-12-18,2018-12-17,540.500,270.250,-270.250,10380366.0,5190183.0,-5190183.0
384084,69918236.0,1.852136e+09,2018-12-21,2018-12-26,1832.295,151.340,-1680.955,35189440.0,2906502.0,-32282938.0
384085,69918236.0,1.852136e+09,2018-12-26,2018-12-21,151.340,1832.295,1680.955,2906502.0,35189440.0,32282938.0
384088,69918236.0,1.852136e+09,2018-12-21,2018-12-26,643.195,540.500,-102.695,12352635.0,10380366.0,-1972269.0
384089,69918236.0,1.852136e+09,2018-12-21,2018-12-27,643.195,681.030,37.835,12352635.0,13079261.0,726626.0
384090,69918236.0,1.852136e+09,2018-12-26,2018-12-21,540.500,643.195,102.695,10380366.0,12352635.0,1972269.0
384092,69918236.0,1.852136e+09,2018-12-26,2018-12-27,540.500,681.030,140.530,10380366.0,13079261.0,2698895.0
384093,69918236.0,1.852136e+09,2018-12-27,2018-12-21,681.030,643.195,-37.835,13079261.0,12352635.0,-726626.0
384094,69918236.0,1.852136e+09,2018-12-27,2018-12-26,681.030,540.500,-140.530,13079261.0,10380366.0,-2698895.0
384100,69918236.0,1.852136e+09,2018-12-25,2018-12-27,681.030,940.470,259.440,13079261.0,18061837.0,4982576.0
384101,69918236.0,1.852136e+09,2018-12-27,2018-12-25,940.470,681.030,-259.440,18061837.0,13079261.0,-4982576.0
384107,69918236.0,2.300045e+09,2018-12-05,2018-12-27,1189.100,162.150,-1026.950,22836805.0,3114110.0,-19722695.0
384108,69918236.0,2.300045e+09,2018-12-27,2018-12-05,162.150,1189.100,1026.950,3114110.0,22836805.0,19722695.0
384113,69918236.0,2.300045e+09,2018-12-04,2018-12-06,864.800,216.200,-648.600,16608585.0,4152146.0,-12456439.0
384114,69918236.0,2.300045e+09,2018-12-04,2018-12-11,864.800,383.755,-481.045,16608585.0,7370060.0,-9238525.0
384115,69918236.0,2.300045e+09,2018-12-06,2018-12-04,216.200,864.800,648.600,4152146.0,16608585.0,12456439.0
384117,69918236.0,2.300045e+09,2018-12-06,2018-12-11,216.200,383.755,167.555,4152146.0,7370060.0,3217914.0
384118,69918236.0,2.300045e+09,2018-12-11,2018-12-04,383.755,864.800,481.045,7370060.0,16608585.0,9238525.0
384119,69918236.0,2.300045e+09,2018-12-11,2018-12-06,383.755,216.200,-167.555,7370060.0,4152146.0,-3217914.0
384122,69918236.0,2.300045e+09,2018-12-13,2018-12-29,59.455,589.145,529.690,1655671.0,16406193.0,14750522.0
384123,69918236.0,2.300045e+09,2018-12-29,2018-12-13,589.145,59.455,-529.690,16406193.0,1655671.0,-14750522.0
384127,69918236.0,2.300045e+09,2018-12-19,2018-12-27,540.500,1081.000,540.500,10380366.0,20760732.0,10380366.0
384128,69918236.0,2.300045e+09,2018-12-27,2018-12-19,1081.000,540.500,-540.500,20760732.0,10380366.0,-10380366.0

### 1. Diff_Value > 1000, 5000, 10000

In [54]:
diff_value_1000 = c[c['Diff_Value'] >= 1000]
diff_value_5000 = c[c['Diff_Value'] >= 5000]
diff_value_10000 = c[c['Diff_Value'] >= 10000]

### 1.1 Difference Days of the datasets

In [55]:
#Data assigns to new Variable
d = diff_value_10000[['Material','SO_No','GI_Date_x','GI_Date_y']]

In [56]:
#The difference days
d.loc[d['GI_Date_x'] != d['GI_Date_y']]

          Material         SO_No  GI_Date_x  GI_Date_y
3       69906584.0  1.852094e+09 2018-01-08 2018-01-13
8       69906584.0  1.852094e+09 2018-01-25 2018-01-08
9       69906584.0  1.852094e+09 2018-01-25 2018-01-13
19      69906584.0  1.852101e+09 2018-03-15 2018-03-08
24      69906584.0  1.852105e+09 2018-04-08 2018-04-18
31      69906584.0  1.852106e+09 2018-04-30 2018-04-17
39      69906584.0  1.852112e+09 2018-06-29 2018-06-21
47      69906584.0  1.852123e+09 2018-09-07 2018-09-11
55      69906584.0  1.852127e+09 2018-10-09 2018-10-08
57      69906584.0  1.852127e+09 2018-10-09 2018-10-19
58      69906584.0  1.852127e+09 2018-10-19 2018-10-08
64      69906584.0  1.852134e+09 2018-12-04 2018-12-05
74      69906661.0  2.300034e+09 2018-01-12 2018-01-13
79      69906661.0  2.300034e+09 2018-01-15 2018-01-12
80      69906661.0  2.300034e+09 2018-01-15 2018-01-13
83      69906661.0  2.300035e+09 2018-01-13 2018-01-15
87      69906661.0  2.300035e+09 2018-01-18 2018-01-19
88      69906661.0  2.300035e+09 2018-01-18 2018-01-24
93      69906661.0  2.300035e+09 2018-01-24 2018-01-19
96      69906661.0  2.300035e+09 2018-02-14 2018-02-15
103     69906661.0  2.300036e+09 2018-02-20 2018-02-19
106     69906661.0  2.300036e+09 2018-02-23 2018-02-19
107     69906661.0  2.300036e+09 2018-02-23 2018-02-20
110     69906987.0  1.907009e+09 2018-01-16 2018-01-17
120     69906987.0  1.907009e+09 2018-01-18 2018-01-17
124     69906987.0  1.907009e+09 2018-01-22 2018-01-16
125     69906987.0  1.907009e+09 2018-01-22 2018-01-17
126     69906987.0  1.907009e+09 2018-01-22 2018-01-18
129     69906987.0  1.907009e+09 2018-01-29 2018-01-16
130     69906987.0  1.907009e+09 2018-01-29 2018-01-17
...            ...           ...        ...        ...
383984  69918236.0  1.852135e+09 2018-12-19 2018-12-13
383987  69918236.0  1.852135e+09 2018-12-26 2018-12-13
383988  69918236.0  1.852135e+09 2018-12-26 2018-12-19
383996  69918236.0  1.852135e+09 2018-12-17 2018-12-18
383997  69918236.0  1.852135e+09 2018-12-17 2018-12-19
384002  69918236.0  1.852135e+09 2018-12-19 2018-12-18
384008  69918236.0  1.852135e+09 2018-12-18 2018-12-17
384011  69918236.0  1.852135e+09 2018-12-27 2018-12-17
384012  69918236.0  1.852135e+09 2018-12-27 2018-12-18
384017  69918236.0  1.852135e+09 2018-12-26 2018-12-24
384020  69918236.0  1.852135e+09 2018-12-28 2018-12-24
384021  69918236.0  1.852135e+09 2018-12-28 2018-12-26
384036  69918236.0  1.852135e+09 2018-12-20 2018-12-12
384054  69918236.0  1.852135e+09 2018-12-17 2018-12-18
384059  69918236.0  1.852135e+09 2018-12-28 2018-12-20
384062  69918236.0  1.852135e+09 2018-12-21 2018-12-24
384067  69918236.0  1.852135e+09 2018-12-19 2018-12-17
384071  69918236.0  1.852136e+09 2018-12-16 2018-12-17
384075  69918236.0  1.852136e+09 2018-12-17 2018-12-18
384085  69918236.0  1.852136e+09 2018-12-26 2018-12-21
384089  69918236.0  1.852136e+09 2018-12-21 2018-12-27
384090  69918236.0  1.852136e+09 2018-12-26 2018-12-21
384092  69918236.0  1.852136e+09 2018-12-26 2018-12-27
384100  69918236.0  1.852136e+09 2018-12-25 2018-12-27
384108  69918236.0  2.300045e+09 2018-12-27 2018-12-05
384115  69918236.0  2.300045e+09 2018-12-06 2018-12-04
384117  69918236.0  2.300045e+09 2018-12-06 2018-12-11
384118  69918236.0  2.300045e+09 2018-12-11 2018-12-04
384122  69918236.0  2.300045e+09 2018-12-13 2018-12-29
384127  69918236.0  2.300045e+09 2018-12-19 2018-12-27

[50111 rows x 4 columns]

### Diff_Weight > 1 Kg

In [37]:
diff_weight_1kg = c[c['Diff_Weight'] >= 1]